<div class="row justify-content-center">
  <div class="col-md-8 text-left">
      <h1 class="mt-5">Welcome</h1>
      <p class="lead">IdentityServer4 is an OpenID Connect and OAuth 2.0 framework for ASP.NET Core. </p>
      <p class="lead">
        It enables the following features in your applications:
      </p>
      <ul class="lead">
        <li>Authentication as a Service</li>
        <li>Single Sign-on / Sign-out</li>
        <li>Access Control for APIs</li>
        <li>Federation Gateway</li>
        <li>Focus on Customization</li>
        <li>Mature Open Source</li>
        <li>Free and Commercial Support</li>
      </ul>

    </div>
    <div class="col-md-8 text-center">
      <img src="assets/images/open-identity.png" width="175" class="mb-4" />
    </div>
</div>
